*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    padding: 1.25rem 0 3.15rem;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

.left_menu {
    padding-left:5px;
    display: block;
    width: 180px;
    flex-shrink: 0;
}

.box_infor {
    width: 800px;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: 0.125rem;

}

.box_inforx {
    padding: 0 30px 10px;
    position: relative;
    min-height: 100%;

    position: relative;
    min-height: 100%;
}

.top-box {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.175rem 0;

}

.top-box>h1 {

    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.borderbox {
    margin-top: 0.1875rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #333;
    text-transform:none;
}


.mainbox {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-end;

}

.leftboxinfor {
    flex: 1;
    padding-right: 3.15rem;
    width:60%;

}

.box {
    align-items: center;
    margin-bottom: 1rem;

}

.inp {
    display: flex;
    justify-content: center;
    margin:0px;
    padding:0px;


}

.label {
    display: flex;
    width: 40%;
    text-align: right;
    color: rgba(18, 19, 18, 0.8);
    text-transform: capitalize;
    overflow: hidden;
}

label {
    text-align: right;
    width: 100%;
    padding-right:20px;
}

.inpuif {
    width: 70%;
    display: flex;
    flex-direction: column;
    
}

.inpuif>input {  
   
    border: 1px solid rgba(0,0,0,.14);
    box-sizing: border-box;
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
    width: 50%;
    padding-left:5px;
    line-height: 1.5rem;
}
.txtdisable {}


.btnsave {
    width: 60%;
    text-align: left;
    
}
.btn>span{
    color:rgb(230, 44, 44);
}
.btnsave>button {
   
    background-color: #01a14b;
    border:1px solid rgba(0,0,0,.14);
    border-radius: 0.1rem;
    padding:5px 10px;
    color:#fff;
}
.btnsave>button:hover{
    background-color:#f32712
}