*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
}

.wapper{
    border-radius: 0.3rem;
    display: flex;
    width: 20rem;
    max-width: 100%;
    background-color: rgb(214, 235, 228);
    flex-direction: column;
    align-items: center; 
    padding: 1rem 0.8rem;
       
}
.fa-block{
    
}
.tittle{
    margin-bottom: 20px;
    font-size: 20px;

}
.form{
    padding:0 10px 10px;

}
/* begin text input */
.group{
    display: flex;
    justify-content: space-around;
     flex-direction: column;
    font-size: 15px;/*
    min-width: 18rem;
    width: 270px;
    background-color:#fff;
    margin: 15px 0px;
    border: solid 1px #E7E7E7;;
    margin-bottom: 0.675rem; */

}
.userip{

}
.loginf{
    
    display: flex;
    font-size: 15px;
    min-width: 16rem;
    background-color:#fff;
    border: solid 1px #d3cece;
    
    
}
#user input{
    width: 251px;
    padding: 5px;
     height: 37px;
     border: 0px;
     /*
    border: solid 1px #E7E7E7;; */
}
.passwordipagain{
    margin-top: 3px;
}

#pass input{
    
    width: 251px;
    padding: 5px;
    height: 37px;
   /* // border: solid 1px #E7E7E7; */
    border: 0px;
}
.icon{
    height: 37px;
    background-color:rgb(218, 228, 219);
    border: solid 1px #e4dddd;
    padding: 10px 10px;
}

#showpass{
    /* margin-left: -20px;;
    height: 37px;
    padding :5px;
    line-height: 30px; */


}
#showpass button{
    width: 90%;
    width: 34px;
    border: none;
    background-color: #fff;
    margin-left: -35px;
    position: absolute;
    margin-top: 2px;
    margin-right: 2px;
    height: 34px;
    line-height: 21px;
}

.messerror{
    color:red;
    min-width: 1rem;
    font-size: 0.75rem;
    margin :0;
    padding:0.25rem 0 0;
    background: unset!important;
}
.messerror >span{
    background: none;
    color:red;
}
.submit_btn{
    margin-bottom: 20px;
}

.submit_btn button{
    text-align: center;
    font-size: 16px;
    color:#fff;
    margin-top:5px;
    padding:10px 20px;
    width:100%;
    background-color: #01a14b; 
    border:0;
    border-radius:0.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sp1 span{
    display:block;
    padding:1px 1px 10px;
}
.sp1 span>a{
    color:blue;

}

.separator{
    /* display: flex; */
    text-align: center;
     overflow: hidden;
   
}
.separator>span{
    position: relative;
    display: inline-block;
   

}
.separator>span::before,
.separator>span::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 9999px;
    background-color: #000;
    top:50%;
    display: block;

}
.separator>span::before{
    left: 100%;
    margin-left: 10px;
    
}
.separator>span::after{
    right:100%;
    margin-right: 10px;
}

.orthericon{
    display: flex;
    flex-direction: column;
}

.quick_login{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 16px;
    cursor: pointer;
}
.quick_login i{
    padding:0px 10px 0px;
}
.facebook{
    margin-top: 20px;

    background-color: rgb(91, 91, 238);
}
.google{
    background-color: red;

}