* {
    box-sizing: inherit;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 90%;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
}

.container span {
    display: block;
    margin-bottom: 30px;
}